/.venv
/.env
/IHC Cohort 2 6-4-25.lif
/data.csv
/IHC Cohort 2 5-27-25.lifext
/IHC Cohort 2 5-27-25.lif
/export_images
/all_image_data.csv
/__pycache__
/LIF FILES
/cleaned.csv
/notes.txt
/subset_1.jpeg
/subset_2.jpeg
/subset_3.jpeg
/subset_4.jpeg
/output_images